<div ng-controller='MeanController'>

	<!-- Create new message here -->
	<form>
		<h3>Enter Name<input type="text" ng-model="newMessage.name"></h3>
		<h3>Enter Message</h3>
		<textarea rows='4' cols='30' ng-model='newMessage.message'></textarea><br>
		<input type='submit' ng-model='newMessage' ng-click='newMess()'>
	</form>

	<!-- Display messages here -->
	<div ng-repeat='x in allMessages'>
		<div ng-repeat='y in x'>
			<!-- Display Message -->
			<h1>{{ y.name }}</h1>
			<h1>{{ y.message }}</h1>

			<!-- Display Comments -->
			<h6>Comments for this Message</h6>
			<div ng-repeat='j in y.comments'>
				<h3>Commenter: {{ j.commenter }}</h3>
				<h5>Comment: {{ j.comment }}</h5>
			</div>

			<!-- Create comments -->
			<form>
				<h3>Commenter Name</h3>
				<input type="text" ng-model="batman.commenter">
				<h3>Enter Comment</h3>
				<textarea rows='4' cols='30' ng-model='batman.comment'></textarea><br>
				<input type='submit' ng-model='batman' ng-click='new_Comments(y._id)'>
			</form>
		</div>
	</div>


	




</div>